# Dependencies
node_modules/

# Environment variables
.env

# Build output
dist/
build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Uploads (optional, depending on if you want to commit specific uploads)
uploads/
!uploads/.gitkeep

# Testing
coverage/

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
